*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes mercury {
  0% {
    transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    transform: translate(-50%, -50%) rotate(540deg); } }

@keyframes venus {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes earth {
  0% {
    transform: translate(-50%, -50%) rotate(300deg); }
  100% {
    transform: translate(-50%, -50%) rotate(660deg); } }

@keyframes mars {
  0% {
    transform: translate(-50%, -50%) rotate(140deg); }
  100% {
    transform: translate(-50%, -50%) rotate(500deg); } }

@keyframes jupiter {
  0% {
    transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    transform: translate(-50%, -50%) rotate(540deg); } }

@keyframes saturn {
  0% {
    transform: translate(-50%, -50%) rotate(60deg); }
  100% {
    transform: translate(-50%, -50%) rotate(420deg); } }

@keyframes uranus {
  0% {
    transform: translate(-50%, -50%) rotate(240deg); }
  100% {
    transform: translate(-50%, -50%) rotate(600deg); } }

@keyframes neptune {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes pluto {
  from {
    transform: translate(-50%, -50%) rotate(120deg); }
  to {
    transform: translate(-50%, -50%) rotate(480deg); } }

.heading-primary {
  color: #f5eae0;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 5rem;
    animation: moveInLeft;
    animation-duration: 3s;
    /* animation-timing-function: ease-in-out; */
    /* animation-iteration-count: 3; */
    /* animation-delay: 1s; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 15px;
    animation: moveInRight;
    animation-duration: 3s; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #423d38, #a3632a);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: transform .2s;
  margin-top: 4rem; }
  .heading-secondary--main {
    display: block;
    font-weight: bold;
    letter-spacing: .4rem; }
    .heading-secondary--main-light {
      background-image: linear-gradient(to right, #a3632a, #be8e4f);
      -webkit-background-clip: text;
      color: transparent; }
  .heading-secondary--sub {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 8px; }
    .heading-secondary--sub-light {
      background-image: linear-gradient(to right, #be8e4f, #be8e4f);
      -webkit-background-clip: text;
      color: transparent; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 4rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #f5eae0;
  color: #777; }
  .btn--white::after {
    background-color: #f5eae0; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #f5eae0;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #f5eae0;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #f5eae0;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.timeline-wrapper {
  position: absolute;
  width: 140%;
  background: #9b9b9b;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%); }

.timeline {
  display: flex;
  max-width: 100%;
  position: relative;
  transition: transform 0.6s ease-in-out; }
  .timeline__block {
    position: relative;
    width: 30rem;
    background: white; }
    .timeline__block--pointer {
      position: absolute;
      border: 6px solid #80766c;
      border-radius: 1rem;
      background: #80766c;
      height: 2.4rem;
      width: 2.4rem;
      left: 50%;
      transform: translateX(-50%); }
    .timeline__block:nth-child(even) {
      border-top: 6px solid #80766c; }
      .timeline__block:nth-child(even) .timeline__block--pointer {
        top: calc(((2.4rem / 2) + (6px / 2)) * -1); }
    .timeline__block:nth-child(odd) {
      border-bottom: 6px solid #80766c; }
      .timeline__block:nth-child(odd) .timeline__block--pointer {
        bottom: calc(((2.4rem / 2) + (6px / 2)) * -1); }
    .timeline__block:first-child {
      border-left: none; }
  .timeline__element {
    position: absolute;
    width: 100%;
    height: 20rem;
    background: #fdf7f2;
    border-radius: 3rem;
    padding: 2rem;
    padding-left: 10rem;
    overflow: hidden;
    transition: all 0.2s ease-in;
    cursor: pointer; }
    .timeline__element--media {
      position: absolute;
      width: 30%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden; }
      .timeline__element--media img {
        display: block;
        height: 100%;
        width: auto;
        filter: sepia(100%);
        opacity: 0.8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .timeline__element--odd {
      margin: 0 0 6rem 0;
      bottom: 100%; }
    .timeline__element--even {
      margin: 6rem 0 0 0;
      top: 100%; }
    .timeline__element--selected {
      transform: scale(1.3);
      margin: 10rem 0 10rem 0; }

.arrow {
  width: 0;
  height: 0; }
  .arrow--up {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-bottom: 3rem solid white; }
  .arrow--down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-top: 3rem solid white; }
  .arrow--left {
    border-top: 3rem solid transparent;
    border-bottom: 3rem solid transparent;
    border-right: 3rem solid white; }
  .arrow--right {
    border-top: 3rem solid transparent;
    border-bottom: 3rem solid transparent;
    border-left: 3rem solid white; }

.shadow-container-block {
  position: absolute;
  width: 100%;
  box-shadow: 0 2px 6px 4px rgba(71, 71, 71, 0.6);
  z-index: 200; }

.solarsystem-container {
  position: relative;
  height: 78rem; }

.solarsystem-wrapper {
  position: absolute;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: blue; }

.solarsystem {
  position: relative;
  width: 100%; }
  .solarsystem__planet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border: 1px solid white;
    border-radius: 50%; }
    .solarsystem__planet a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
    .solarsystem__planet a > span {
      position: absolute;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, 0); }
    .solarsystem__planet--sun {
      width: 12rem;
      height: 12rem;
      border: none;
      background: orangered; }
    .solarsystem__planet--mercury {
      width: calc(12rem * 2);
      height: calc(12rem * 2);
      animation: mercury 8s infinite linear; }
      .solarsystem__planet--mercury a > span {
        width: 2rem;
        height: 2rem;
        background: blue; }
    .solarsystem__planet--venus {
      width: calc(12rem * 2.5);
      height: calc(12rem * 2.5);
      animation: venus 20s infinite linear; }
      .solarsystem__planet--venus a > span {
        width: 2rem;
        height: 2rem;
        background: blue; }
    .solarsystem__planet--earth {
      width: calc(12rem * 3);
      height: calc(12rem * 3);
      animation: earth 34s infinite linear; }
      .solarsystem__planet--earth a > span {
        width: 2rem;
        height: 2rem;
        background: blue; }
    .solarsystem__planet--mars {
      width: calc(12rem * 3.5);
      height: calc(12rem * 3.5);
      animation: mars 62s infinite linear; }
      .solarsystem__planet--mars a > span {
        width: 2rem;
        height: 2rem;
        background: blue; }
    .solarsystem__planet--jupiter {
      width: calc(12rem * 4);
      height: calc(12rem * 4);
      animation: jupiter 80s infinite linear; }
      .solarsystem__planet--jupiter a > span {
        width: 2rem;
        height: 2rem;
        background: blue; }
    .solarsystem__planet--saturn {
      width: calc(12rem * 4.5);
      height: calc(12rem * 4.5);
      animation: saturn 100s infinite linear; }
      .solarsystem__planet--saturn a > span {
        width: 2rem;
        height: 2rem;
        background: blue; }
    .solarsystem__planet--uranus {
      width: calc(12rem * 5);
      height: calc(12rem * 5);
      animation: uranus 120s infinite linear; }
      .solarsystem__planet--uranus a > span {
        width: 2rem;
        height: 2rem;
        background: blue; }
    .solarsystem__planet--neptune {
      width: calc(12rem * 5.5);
      height: calc(12rem * 5.5);
      animation: neptune 140s infinite linear; }
      .solarsystem__planet--neptune a > span {
        width: 2rem;
        height: 2rem;
        background: blue; }
    .solarsystem__planet--pluto {
      width: calc(12rem * 6);
      height: calc(12rem * 6);
      animation: pluto 160s infinite linear;
      transform: translate(-50%, -50%) rotate(100deg); }
      .solarsystem__planet--pluto a > span {
        width: 2rem;
        height: 2rem;
        background: blue; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(207, 199, 186, 0.8), rgba(27, 19, 9, 0.8)), url("../img/space-header-background.jpg");
  background-size: cover;
  background-position: top; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    text-align: center; }
  .header__logo {
    height: 3rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-timeline {
  position: relative;
  max-width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(207, 199, 186, 0.95), rgba(207, 199, 186, 0.95)), url("../img/space-header-background.jpg");
  background-size: cover;
  background-position: top;
  border-top: 6px solid gray;
  overflow: hidden; }

.section-solar-system {
  position: relative;
  max-width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(66, 61, 56, 0.95), rgba(66, 61, 56, 0.95)), url("../img/space-header-background.jpg");
  background-size: cover;
  background-position: top;
  border-top: 6px solid gray;
  overflow: hidden; }
