@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin square {
    content: '';
    display: block;
    padding: 50%;
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin absoluteCenterLeft {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, 0);
}


@mixin arrowDown {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
    border-top: 20px solid #f00;
}

@mixin arrowUp {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
}


// @mixin defaultBefore($pad) {
//     content: '';
//     display: block;
//     padding: $pad;
// }