// $color-primary: #2a0549;
// $color-primary-light:  #dfdfdf;
// $color-primary-dark: #949494;

$color-primary: rgb(245, 234, 224);
$color-primary-light:  rgb(207, 199, 186);
$color-primary-average-light:  #be8e4f;
$color-primary-average-average:  #a3632a;
$color-primary-average-dark:  #423d38;
$color-primary-dark: #1b1309;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light:  #2998ff;
$color-tertiary-dark:  #5643fa;

$-color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: rgb(255, 255, 255);
$color-black: #000;


//FONT

$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//HISTORY SCHEMA
$history-schema-height: 30rem;
$history-schema-width: 30rem;

$history-schema-color: #80766c;
$history-schema-border: 6px;
$history-schema-doth: 2.4rem;

$arrow-size: 3rem;

$move-timeline-current-position: 0;
$move-timeline-next-position: 0;

// SOLAR SYSTEM
$planet-orbit-diameter: 12rem;
$planet-round-time-seconds: 8;
