.gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    background-color: gray;

    &__media {
        position: relative;
        overflow: hidden;
        width: 100%;

        &::before {
            @include square;
        }

        img {
            @include absoluteCenter; 
            width: auto;
            height: 100%;
        }
    }

    &__media:nth-child(even) {

        &::after {
            @include absoluteCenter; 
            @include square;
            background: rgba(50, 50, 50, 0.4);
            z-index: 10;
        }
    }

    &__media:nth-child(odd) {

        &::after {
            @include absoluteCenter; 
            @include square;
            background: rgba(40, 40, 40, 0.3);
            z-index: 10;
        }
    }
}