.history-timeline {
    display: flex;
    max-width: 80%;

    @include absoluteCenter;

    &__element {
        position: relative;
        width: $history-schema-width;
        background: white;

        &--content {
            position: absolute;
            width: 100%;
            // height: $history-schema-height;
            height: 20rem;
            background: white;
            border-radius: 1rem;
            padding: 1rem;
        
            &-odd {
                margin: 0 0 6rem 0;
                bottom: 100%;
            }
        
            &-even {
                margin: 6rem 0 0 0;
                top: 100%;
            }
        }

        &:before {
            position: absolute;
            display: block;
            content: "";
            border: $history-schema-border solid $history-schema-color;
            border-radius: 50%;
            background: white;
            height: $history-schema-doth;
            width: $history-schema-doth;
            left: 50%;
            transform: translateX(-50%);
        }

        &:nth-child(even) {
            border-top: $history-schema-border solid $history-schema-color;

            &:before {
                top: calc(((#{$history-schema-doth} / 2) + (#{$history-schema-border} / 2)) * -1);
            }

        }
    
        &:nth-child(odd) {
            border-bottom: $history-schema-border solid $history-schema-color;

            &:before {
                bottom: calc(((#{$history-schema-doth} / 2) + (#{$history-schema-border} / 2)) * -1);
            }
        }

        &:first-child {
            border-left: none;
        }
    }
}

