.timeline-wrapper {
    position: absolute;
    width: 140%;
    background: rgb(155, 155, 155);
    @include absoluteCenter;
}

.timeline {
    display: flex;
    max-width: 100%;
    position: relative;
    transition: transform 0.6s ease-in-out;

    &__block {
        position: relative;
        width: 30rem;
        background: white;

        &--pointer {
            position: absolute;
            border: $history-schema-border solid $history-schema-color;
            border-radius: 1rem;
            background: white;
            height: $history-schema-doth;
            width: $history-schema-doth;
            left: 50%;
            transform: translateX(-50%);
        }

        &:nth-child(even) {
            border-top: $history-schema-border solid $history-schema-color;

            .timeline__block--pointer {
                top: calc(((#{$history-schema-doth} / 2) + (#{$history-schema-border} / 2)) * -1);
            }
        }
    
        &:nth-child(odd) {

            border-bottom: $history-schema-border solid $history-schema-color;
            
            .timeline__block--pointer {
                bottom: calc(((#{$history-schema-doth} / 2) + (#{$history-schema-border} / 2)) * -1);
            }
        }

        &:first-child {
            border-left: none;
        }
    }

    &__element {
        position: absolute;
        width: 100%;
        // height: $history-schema-height;
        height: 20rem;
        background: white;
        border-radius: 1rem;
        padding: 1rem;
        transition: all 0.2s ease-in;
        cursor: pointer;

        &--odd {
            margin: 0 0 6rem 0;
            bottom: 100%;
        }
    
        &--even {
            margin: 6rem 0 0 0;
            top: 100%;
        }

        &--selected {
            transform: scale(1.4);
            margin: 10rem 0 10rem 0;
        }
    }
}

// @keyframes moveTimeLine {
//     0% { 
//         transform: translateX($move-timeline-current-position)
//     }
//     // 50% { 
//     //     transform: translateX()
//     // }
//     100% { 
//         transform: translateX($move-timeline-next-position)
//     }
// }