@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes pulse-shadow {
    0% {
        -moz-box-shadow: 0 0 0.2rem 0.2rem rgba(255, 105, 36, 0.5);
        box-shadow: 0 0 0.2rem 0.2rem rgba(255, 105, 36, 0.5);
        transform: translate(-50%, -50%) scale(1);
    }
    25% {
        -moz-box-shadow: 0 0 0.4rem 0.4rem rgba(255, 105, 36, 0.4);
        box-shadow: 0 0 0.4rem 0.4rem rgba(255, 105, 36, 0.4);
        transform: translate(-50%, -50%) scale(1.02);
    }
    50% {
        -moz-box-shadow: 0 0 0.6rem 0.6rem rgba(255, 105, 36, 0.4);
        box-shadow: 0 0 0.6rem 0.6rem rgba(255, 105, 36, 0.4);
        transform: translate(-50%, -50%) scale(1.05);
    }
    75% {
        -moz-box-shadow: 0 0 0.8rem 0.8rem rgba(255, 105, 36, 0.4);
        box-shadow: 0 0 0.6rem 0.8rem rgba(255, 105, 36, 0.4);
        transform: translate(-50%, -50%) scale(1.02);
    }
    100% {
        -moz-box-shadow: 0 0 1rem 1rem rgba(255, 105, 36, 0.3);
        box-shadow: 0 0 1rem 1rem rgba(255, 105, 36, 0.3);
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes pulse-shadow-inner {
    0% {
        -moz-box-shadow: inset 0 0 0.6rem 0.6rem $sun-base-color;
        box-shadow: inset 0 0 0.6rem 0.6rem $sun-base-color;
    }
    50% {
        -moz-box-shadow: inset 0 0 0.8rem 0.8rem $sun-base-color;
        box-shadow: inset 0 0 0.8rem 0.8rem $sun-base-color;
    }
    100% {
        -moz-box-shadow: inset 0 0 1rem 1rem $sun-base-color;
        box-shadow: inset 0 0 1rem 1rem $sun-base-color;
    }
}

@keyframes mercury {
    0% { 
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(540deg);
    }
}

@keyframes venus {
    0% { 
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes earth {
    0% { 
        transform: translate(-50%, -50%) rotate(300deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(660deg);
    }
}

@keyframes mars {
    0% { 
        transform: translate(-50%, -50%) rotate(140deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(500deg);
    }
}

@keyframes jupiter {
    0% { 
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(540deg);
    }
}

@keyframes saturn {
    0% { 
        transform: translate(-50%, -50%) rotate(60deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(420deg);
    }
}
@keyframes uranus {
    0% { 
        transform: translate(-50%, -50%) rotate(240deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(600deg);
    }
}

@keyframes neptune {
    0% { 
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes pluto {
    from { 
        transform: translate(-50%, -50%) rotate(120deg);
    } 
    to { 
        transform: translate(-50%, -50%) rotate(480deg);
    }
}